# Dependencies
/node_modules

# Build
/dist

# Logs
/logs
*.log

# Environment
.env
.env.local
.env.*.local

# Database
/prisma/dev.db
/prisma/dev.db-journal

# GeoIP database temp files
/data/temp

# Permitir o arquivo principal do GeoIP
!/data/GeoLite2-City.mmdb

# Permitir arquivos de backup do GeoIP
!/data/backup/*.mmdb
